.page3{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    padding:  4vw 10vw ;
}
.page3 h1{
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
}
.page3 p{
    text-align: center;
    font-size: 1.7vw;
}
.contain{
    display: flex;
    color: white;
    justify-content: center;
}
@media (max-width:600px) {
    .page3{
        background-color: black;
        border: none;
        outline: none;
    }
    .page3 h1{
        font-size: 7vh;
    }
    .page3 p{
        font-size: 3vh;
    }
}
@media (min-width:601px) and (max-width:1025px) {
    .page3{
        background-color: black;
        border: none;
        outline: none;
    }
    .page3 h1{
        font-size: 7vh;
    }
    .page3 p{
        font-size: 4vh;
    }
}